.Categories {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.Category {
    flex-basis: 33%;
    max-width: 33%;
    padding-right: 0.8rem;
    width: 33%;
}

.CategoryLink {
    margin-bottom: 2rem;
}

.CategoryLink h4 {
    color: #222;
    font-weight: 700;
    margin: 0 4rem;
}